{% extends 'base.html.twig' %}

{% block title %}Home !{% endblock %}

{% block body %}


    <h1>Salut {{ app.user.firstname }} ! </h1>


    <h2> Voici les rockets en fixtures : </h2>

    {% for rocket in rockets %}
        {{ dump(rocket) }}
    {% endfor %}
</div>
{% endblock %}
