{% extends 'base.html.twig' %}

{% block title %}Build your team work !{% endblock %}

{% block body %}
{% for skill in rocket.skills %}
    <div>{{ skill.name }}</div>
    {% for friend in app.user.friends %}
        {{ friend.firstname }}
        {{ friend.skill }}
    {% endfor %}
{% endfor %}
{% endblock %}